%section
  - unless @entry.postable.blank?
    = render "postablr/blog/show/#{@entry.postable_name}",  :postable => @entry.postable

  .tags
    Tags:
    = raw @entry.tags.collect{|o| link_to o.name, blog_tag_path(o.name)}.join(", ")

%aside

  - unless @relateds
    .hentry_related
      %h2 Related
      - @relateds.each do |entry|
        = link_to entry.postable.title , blog_entry_path( entry )
