.page_header
  %h2 Blog

.row-fluid
  .span8

    %section
      = render :partial=> 'postablr/blog/entry_display', :collection=> @entries, :as=> :entry

      %nav.pagination.publication_paginator
        = paginate @entries

  .span4
    = render "postablr/blog/sidebar"