.page_header.affix{:style=>"background-color: rgb(255, 255, 255); display: block; width: 53%;"}
  %h2 Blog

.row-fluid
  .span8{:style=>"margin-top: 65px;"}

    %section
      %ul
        = render :partial=> 'postablr/blog/entry_display', :collection=> @entries, :as=> :entry

      %nav.pagination.publication_paginator
        = paginate @entries



  .span4
    = render "sidebar"