
%ul.playlist
  %li
    %a{ :href=>"#{postable.file.url}"}= postable.audio_title

.article_text
  %p= raw sanitize_clean(postable.body , 200 , " #{link_to t('read_more'), blog_entry_path( postable.entry ) } ..." )
