%div.col_system.col.fluid
  %div.col.medium
    %article.hentry
      %h2.entry-title
        = postable.title
      %p.byline.author.vcard
        %span.meta.kind Post
        By
        %span.fn
          = postable.entry.user.name
      .entry-content
        = raw sanitize_relaxed( postable.body )

  = render :partial=>'postablr/blog/show/aside', :locals=>{:postable=>postable}
