.video

  .article_meta
    %span.meta.kind Video
    %h3
      = postable.title

  .article_video
    = raw postable.embed_html

    %p
      -#= raw sanitize_relaxed( postable.body )

    %span.meta.author
      = postable.entry.user.name